/* SECTION ELEMENTAL SELECTORS */

header{
  background-color: #5386E4;
  color: #F8F8F8;
}

footer{
  background-color: #F8F8F8;
  color: #5386E4;
  font-size: 15pt;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a{
  color: #F8F8F8;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: black;
}

/* SECTION CLASS SELECTORS */

.form-input-fill-width{
  width: 100%;
}

.bg-img{
  background-image: url(https://images.unsplash.com/photo-1596251822183-f0cf75473b67?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1773&q=80);
  background-size: cover;
  background-position: center;
}

.card-color{
  background-color: #1f6dff9e;
}

.nonsense-subtitle{
  font-size: 8pt;
}

.waffle-icon{
  margin-right: -.7em;
}

.hiding-text{
  transform: translateY(-3em);
}

.bg-spill{
  background-color: #5386E4;
}

.spill-card{
  height: 110%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translate(7%, 16%);
}

.flowers-img{
  height: 40em;
  width: 28em;
  object-fit: cover;
}

.huge-text-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(3em);
}

.big-text{
  font-size: 40pt;
}

.more-btn{
  display: flex;
  justify-content: end;
}

.testimonial-row{
  background-color: lightgray;
  height: 60vh;
}

.testimonial-card{
  height: 16em;
}

.testimonial-card-big{
  height: 19em;
}

.quote-icon{
  display: flex;
  justify-content: start;
  padding-left: 2em;
}

.quote-color{
  color: blue;
}

.last-row{
  background-color: #5386E4;
  height: 35vh;
}

.final-words{
  display: flex;
  flex-direction: column;
  justify-content: center;;
}


/* .card-shadow{
  box-shadow: 10px, 10px, 5px black;
} */

/* SECTION ID SELECTORS */
